.wrap-table {
 
}

.content-table{
    padding: 10px;
    border-radius: 13px 13px 0 0;
    background-color:  #414141 ;
    border: 1px solid black;
    margin-top: -20px;
    width: 100%;
    margin-left: -10px;
}

.content-table .wrapInput {
  
}


.content-table .wrapInput input {
 
}



.wrapInput button{

}

.wrapInput button:hover{
}



.wrapTabelOrder {
  height: 15.7rem;
  overflow: scroll;
  padding: 0 10px;
  max-width: 57rem;
  margin-top: 10px;
  /* background-color: #4b4b4b; */

}
/* .wrapTabelOrder::-webkit-scrollbar{
  width: 6px;
}

.wrapTabelOrder::-webkit-scrollbar-track{
  background: none;
}
.wrapTabelOrder::-webkit-scrollbar-thumb{
  background: #c8c8c8;
  border-radius: 20px;
} */

.TableOder{
  
}

.TableOder th {
 
}

/* .TableOder th:nth-child(1){
  width: 20px;
}
.TableOder th:nth-child(2){
  width: 150px;
}
.TableOder th:nth-child(3){
  width: 150px;
}
.TableOder th:nth-child(4){
  width: 50px;
}

.TableOder th:nth-child(5){
  width: 70px;
} 


.TableOder th:nth-child(6){
  width: 100px;
}

.TableOder th:nth-child(7){
  width: 150px ;
} */
/* 
.TableOder tr,
.TableOder td {
  border: 1px solid rgb(176, 176, 176);
    padding: 5px 4px;
}

.TableOder td:nth-child(3){
  width: max-content;
} */



/* .TableOder tr {
  background-color: #fcfcfc;
}

.TableOder tr:nth-child(odd) {
  background-color: #c8c8c8;
} */



/* Transaction Info */

.TransactionInfo{
  
}

.wrap{
  
  
}

.wrap-admin{
  
}


.TransaksiTable tr td {

}

.TransaksiTable tr td:nth-child(1) {
  width: max-content;
  padding-right: 10px;
}

.TransaksiTable tr td:nth-child(2) {
  width: 10px;
}

.batas-T{
  
}

.warpTiket{
  
}

.tiketCustomers {
  background-color: #E0E0E0;
  width: max-content;
  padding: 10px;
}

.tiketCustomers .content{

  display: flex;
}

.poster{
}

.dataTiket{
  margin: 0 10px ;
  display: flex;
}

.dataTiket .text p {
  font-size: 11px;
  margin: 5px 0;
}

.tiketCustomers hr {
  margin: 3px;
}

.logoCgv img {
  width: 100px;
  margin: 30% 5px  ;
}

.dataTiket .text{
  width: 150px;
}