@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

section {
  background-color: #2a2141;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: white;
  
}

a:hover {
  color: rgb(221, 221, 221);
}

.option button,
.option .trailer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -10px;
  border-radius: 2px;
  transition: 0.5s;
  cursor: pointer;
}

.option button {
  height: 100px;
  width: 500px;
}

.option .trailer {
  height: 250px;
  width: 500px;
}

.option .trailer:hover {
  background-size: 150%;
  border-right: 8px solid rgb(196, 57, 57);
  background-position: 70% 50%;
}

.option button:hover {
  background-size: 150%;
  border-right: 8px solid rgb(196, 57, 57);
  width: 504px;
  background-position: 50% 50%;
}

.table-history tr td {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
}

.table-payment tr td {
  font-size: 14px;
}
