@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #2a2141;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
  color: white;
}

a:hover {
  color: rgb(221, 221, 221);
}

.option button {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -10px;
  height: 100px;
  width: 500px;
  border-radius: 5px;
  transition: 0.8s;
}

.option button:hover {
  background-size: 150%;
  border-right: 5px solid rgb(158, 24, 24);
  width: 504px;
  background-position: 50% 50%;
}
