.navbar {
  background: rgba(41, 41, 41, 0.3);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  z-index: 10;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: rgb(207, 207, 207);
}

footer {
  background-color: #c54d4d;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 150px;
}

footer a {
  color: white;
}

footer a:hover {
  color: rgb(207, 207, 207);
}
