@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");

.login .input,
.register .input {
  padding: 200px 150px;
}

.login h3,
.register h3 {
  font-family: "Montserrat Alternates", sans-serif;
}

.login input,
.register input {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px grey solid;
  color: white;
}

.login button,
.register button {
  background-color: #c44d4d;
}

.login button:hover,
.register button:hover {
  background-color: #9e4040;
}
