body{
    background-color: grey;
}

 .card{
   display: flex;
} 

.page-1{
    background-color: #C44D4D;
    width: 404px;
    height: 500px;
    margin-left: 200px;

}

h1{
    color: white;
    text-align: center;
    margin-top: 0px;
}

.cinema{
    width: 200px;
    display: block;
    margin-right: auto;
    margin-top: 80px;
    margin-left: auto;

}
.page-2{
    background-color: rgb(45, 45, 45);
    width: 404px;
    height: 500px;
    margin-left: 0px;
    margin-bottom: 100PX;
    text-align: center;
    
}

p{
    color: white ;
}

.email{
    margin-top: 150px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: #fff;
    font-size: 20px;
}

.password{
    margin-top: 40px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: #fff;
    font-size: 20px;
}

button{
    margin-top: 30px;
    height: 30px;
    border-radius: 5px;
    width: 200px;
    background-color: #C44D4D;
    color: white;
    border: none;
}

a{
    color: #377DE5;
    text-decoration: none;
}
