@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.list-movie {
  font-family: "Montserrat", sans-serif;
}

.list-movie img {
  width: 250px;
  border-radius: 10px;
  margin-top: 60px;
}

.list-movie h5 {
  width: 250px;
  text-align: left;
  margin: 20px 0;
}
