.list-movie {
  font-family: "Montserrat", sans-serif;
}

.card-movie {
  width: 250px;
  margin-top: 50px;
}

.card-movie .img-poster {
  background-size: cover;
  background-position: center;
  height: 400px;
}
